.feedback-page {
  padding: 30px;
  background-color: pink;
}

.feedback-title {
  text-align: center;
  font-size: 35px;
  color: rgb(237, 47, 173);
  margin-bottom: 30px;
}

.no-feedback {
  text-align: center;
  font-size: 20px;
  color: gray;
}

/* Feedback Cards */
.feedback-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

.feedback-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-left: 10px solid rgb(237, 47, 173);
}

.feedback-card:hover {
  transform: translateY(-5px);
}

.message {
  margin-top: 10px;
  font-style: italic;
}

.time {
  margin-top: 15px;
  font-size: 12px;
  text-align: right;
  color: rgb(80, 80, 80);
}


/* Responsive */
@media (max-width: 480px) {
  .feedback-title {
    font-size: 28px;
  }

  .feedback-card {
    padding: 15px;
  }
}
